.button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: xx-large;
}
.GlamKleiderBild {
  height: 100px;
}
.JeansBild {
  height: 100px;
}
.OberteileBild {
  height: 100px;
}
